body {
  margin: 0px;
  padding: 0px;

  font-weight: 300;
}

* {
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 2rem;
}

h3 {
  font-size: 1.2rem;
}

button {
  cursor: pointer;
  border: 0px;
  margin: 0px;
  padding: 0px;
  font-weight: 300;
}
